<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ SITENAME }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="theme/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="theme/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="theme/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="theme/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="theme/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>{{ SITENAME }}</h1>
						<p>{{ SITESUBTITLE }}</p>
						<ul class="icons">
							<li><a href="{{ TWITTER }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="{{ INSTAGRAM }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="{{ FACEBOOK }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="{{ HOME }}" class="icon fa-home"><span class="label">ryanhaigh.net</span></a></li>
						</ul>
					</header>
					
				<!-- Thumbnail -->
					<section id="thumbnails">
            {% for article in articles_page.object_list %}
              <article>
                <a class="thumbnail" href="{{ article.fullimage }}" data-position="{{ article.focus }}"><img src="{{ article.thumb }}" alt="{{ article.title }}" /></a>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
              </article>
            {% endfor %}
					</section>
					
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; {{ AUTHOR }}.</li>
							<li>Website: <a href="http://www.defyantmedia.com">defyantmedia</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="theme/js/jquery.min.js"></script>
			<script src="theme/js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="theme/js/ie/respond.min.js"></script><![endif]-->
			<script src="theme/js/main.js"></script>

	</body>
</html>